.bookmarks__title {
    margin-top: 30px;
    margin-bottom: 20px;
}

#bookmark__input {
    width: 100%;
    
    padding: 10px;
    margin-bottom: 10px;

    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 10px;
    margin-bottom: 10px;

    border: none;
    border-radius: 5px;

    background-color: #ff69b4; 
    color: white;

    cursor: pointer;
}

button:hover {
    background-color: #ff85c0; 
}

.bookmark-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    border-bottom: 1px solid #ccc;
}

.bookmark-item a {
    text-decoration: none;

    color: palevioletred;
}

.bookmark-item button {
    padding: 5px 10px;
    border-radius: 5px;

    background-color: #ff69b4;
}

.bookmark-item button:hover {
    background-color: #ff85c0;
}
