.form__title {
  margin-top: 30px;
  margin-bottom: 20px;
}

.feedback__form {
  width: 480px;
}

.feedback__form > label {
  width: 100%;
  display: flex;
  flex-direction: column;

  margin-bottom: 16px;
}

.feedback__form input,
.feedback__form textarea {
  padding: 8px;

  font: inherit;

  outline: 1px solid black;
}

.feedback__form textarea {
  resize: none;
}

.feedback__form button {
  padding: 10px;
  
  border: 1px solid black;
}
