<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>task 2</title>
    <link rel="stylesheet" href="../css/styles.css" />
</head>
<body>
<div class="container">
    <a class="home__link" href="../index.html">Home</a>
    <section class="form__section">
        <h1 class="form__title">
            Feedback form
        </h1>
        <form class="feedback__form">
            <label>
                <b>name</b>
                <input type="text" name="name" placeholder="enter your name">
            </label>
            <label>
                <b>message</b>
                <textarea name="message" rows="6" placeholder="enter the message"></textarea>
            </label>
            <button type="submit">leave your message</button>
        </form>
    </section>
</div>

    <script src="../js/task-2.js" type="module"></script>
    
</body>
</html>