<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bookmarks</title>
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <div class="container">
      <a href="../index.html" class="home__link">Home</a>
      <section class="bookmarks__section">
        <h1 class="title">Bookmarks</h1>
        <input type="text" />
      </section>
    </div>

    <script src="../js/task-4.js" type="module"></script>
  </body>
</html>
