<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>task 1</title>
    <link rel="stylesheet" href="/src/css/styles.css" />
  </head>

  <body>
    <div class="container">
      <a class="home__link" href="/src/index.html">Home</a>
      <section class="timer__section">
        <h1 class="timer__title">first timer</h1>
        
        <div class="timer__container">
          <button type="button" class="timer-start__button">
            start timer
          </button>
          <div class="timer__display">01:00</div>
        </div>
      </section>
    </div>
    <script src="/src/js/task-1.js" type="module"></script>
  </body>
</html>
